.NoteList {
  width: 320px;
  height: 100%;
  background: rgb(246, 246, 246);
  border-right: 1px solid #ddd;
}
.NoteList__notes {
  height: calc(100% - 80px);
  overflow-x: hidden;
  overflow-y: auto;
}
.NoteList__notes::-webkit-scrollbar-track {
  border-radius: 15px;
  background: rgb(200,200,200);
}
.NoteList__notes::-webkit-scrollbar {
  width: 10px;
  border-radius: 15px;
  background: rgb(200,200,200);
}
.NoteList__notes::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgb(180,180,180);
}
.NoteList__note {
  height: 65px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  padding: 10px 8px 10px 30px;
}
.NoteList__note:hover {
  background: rgb(241,241,241);
}
.NoteList__note--active {
  background: rgba(var(--blue), 0.12);
}
.NoteList__note--active:hover {
  background: rgba(var(--blue), 0.15);
}
.NoteList__note div {
  font-weight: 500;
  font-size: 15.5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.NoteList__noNotes {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 500;
}
.NoteList__noNotes svg {
  font-size: 30px;
  color: rgb(130,130,130);
  margin-bottom: 10px;
}
.NoteList__noNotesTag {
  max-width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.NoteList__noNotesBtn {
  color: rgb(var(--blue));
  font-size: 17px;
  margin-top: 5px;
  cursor: pointer;
}
.NoteList__noNotesBtn:hover {
  text-decoration: underline;
}
.NoteList__pin {
  font-size: 17px;
  position: absolute;
  top: 7px;
  left: 7px;
  opacity: 0;
}
.NoteList__note:hover .NoteList__pin {
  opacity: 1;
}
.NoteList__pin--hl {
  color: rgb(var(--blue));
  opacity: 1;
}
@media (max-width: 900px) {
  .NoteList {
    margin-left: 55px;
  }
}
@media (max-width: 750px) {
  .NoteList {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 55px);
  }
  .NoteList--show {
    z-index: 3;
  }
  .NoteList--hide {
    z-index: 2;
  }
}
