.NoteList {
  width: 320px;
  height: 100%;
  border-right: var(--secBorder);
  background: var(--lighterGray);
  display: flex;
  flex-direction: column;
  transition: background 250ms;
}
.NoteList__notes {
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1;
}
.NoteList__notes::-webkit-scrollbar-track,
.NoteList__notes::-webkit-scrollbar {
  border-radius: 15px;
  background: var(--lightGray);
}
.NoteList__notes::-webkit-scrollbar {
  width: 10px;
}
.NoteList__notes::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgb(180,180,180);
}
.NoteList__noNotes {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 500;
  padding: 100px 10px 10px;
  color: var(--textColor);
}
.NoteList__noNotes svg {
  font-size: 30px;
  color: rgb(130,130,130);
  margin-bottom: 10px;
  min-height: 30px;
}
.NoteList__noNotesText {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.NoteList__noNotes div,
.NoteList__searchHeader div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.NoteList__noNotesText div {
  max-width: 100%;
  padding: 0 5px;
}
.NoteList__noNotesBtn {
  color: rgb(var(--blue));
  font-size: 17px;
  margin-top: 5px;
  cursor: pointer;
}
.NoteList__noNotesBtn:hover {
  text-decoration: underline;
}
@media (max-width: 900px) {
  .NoteList {
    margin-left: 55px;
  }
}
@media (max-width: 750px) {
  .NoteList {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 55px);
  }
  .NoteList--show {
    z-index: 3;
  }
  .NoteList--hide {
    z-index: 2;
  }
}
@media (max-height: 300px) {
  .NoteList__noNotes {
    padding-top: 30px;
  }
}
.NoteList__searchHeader,
.NoteList__emptyTrash {
  display: flex;
  align-items: center;
  padding: 10px 8px 10px 10px;
  border-bottom: var(--secBorder);
  width: 100%;
  box-sizing: border-box;
  color: var(--darkerGray);
  white-space: nowrap;
}
.NoteList__searchHeader div {
  padding-left: 5px;
  font-weight: 500;
  color: black;
}
.NoteList__searchHeader svg {
  font-size: 16px;
  min-width: 16px;
  margin: 0 7px 0 5px;
}
.NoteList__emptyTrash {
  justify-content: center;
}
.NoteList__emptyTrash div {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  transition: all 250ms;
}
.NoteList__emptyTrash div:hover {
  color: rgb(var(--blue3));
}
.NoteList__emptyTrash svg {
  font-size: 17px;
  min-width: 17px;
  margin-right: 7px;
}

.dark .NoteList {
  background: rgb(37, 38, 42);
}
.dark .NoteList__searchHeader,
.dark .NoteList__emptyTrash {
  color: var(--textColor);
}
.dark .NoteList__searchHeader div {
  color: rgb(240,240,240);
}
.dark .NoteList__noNotes svg {
  color: rgb(160,160,160);
}
.dark .NoteList__emptyTrash div:hover {
  color: rgba(var(--blue), 0.9);
}
.dark .NoteList__notes::-webkit-scrollbar-track,
.dark .NoteList__notes::-webkit-scrollbar {
  background: rgba(20,20,20,0.7);
}
.dark .NoteList__notes::-webkit-scrollbar-thumb {
  background: rgba(var(--gray), 0.7);
}
