.NoteTags {
  width: 100%;
  box-sizing: border-box;
  background: rgb(252,252,252);
  border-top: 1px solid var(--lighterGray2);
  padding: 15px;
  transition: background 250ms;
}
.NoteTags__input {
  font-size: 15px;
  border: 0;
  outline: none;
  background: transparent;
  color: rgb(70,70,70);
  display: block;
  width: 100%;
  padding: 2px;
}
.NoteTags__input::placeholder {
  color: rgb(120,120,120);
}
.NoteTags__tag {
  background: rgb(230,230,230);
  padding: 5px 15px;
  box-sizing: border-box;
  border-radius: 15px;
  max-width: 100%;
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  margin: 0 10px 10px 0;
  position: relative;
  color: var(--textColor);
  transition: background 250ms;
}
.NoteTags__tagTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.NoteTags__deleteBtn {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 22px;
  height: 22px;
  font-size: 22px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  visibility: hidden;
  border-radius: 50%;
  background: var(--lightGray);
  cursor: pointer;
}
.NoteTags__tag:hover .NoteTags__deleteBtn {
  visibility: visible;
}

.dark .NoteTags {
  background: rgb(37,38,42);
  border-top: 1px solid black;
}
.dark .NoteTags__input {
  color: var(--lightGray);
}
.dark .NoteTags__input::placeholder {
  color: rgb(170,170,170);
}
.dark .NoteTags__tag {
  background: rgb(24,24,25);
}
.dark .NoteTags__deleteBtn {
  background: var(--lightGray);
  color: black;
}
