.AuthContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}
.AuthContainer--dark {
  background: rgb(245,245,245);
}
.AuthContainer__logo {
  font-size: 150px;
  width: 150px;
  height: 150px;
}
.AuthPages__form {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
}
.AuthPages__input, .AuthPages__inputContainer {
  margin: 10px auto;
  width: 100%;
  max-width: 350px;
}
.AuthPages__input, .AuthPages__passInput {
  display: block;
  padding: 8px;
  font-size: 15px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 2px solid rgb(230, 230, 230);
  outline: none;
  transition: border 250ms;
}
.AuthPages__input:hover, .AuthPages__passInput:hover {
  border: 2px solid rgb(220,220,220);
  background: rgb(252,252,252);
}
.AuthPages__input:focus, .AuthPages__passInput:focus {
  border: 2px solid rgb(var(--blue), 0.5);
  background: white;
  box-shadow: 0 0 3px 0.5px rgb(var(--blue), 0.4);
}
.AuthPages__input::placeholder, .AuthPages__passInput::placeholder {
  color: rgb(150,150,150);
}
.AuthPages__inputContainer {
  position: relative;
}
.AuthPages__passInput {
  width: 100%;
  padding-right: 30px;
}
.AuthPages__eye {
  position: absolute;
  right: 8px;
  top: calc(50% - 8px);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgb(115,115,115);
}
.AuthPages__eye:hover {
  color: rgb(50,50,50);
}
.AuthPages__submitBtn {
  display: block;
  font-size: 16px;
  width: 100%;
  max-width: 350px;
  margin: 0 auto 20px;
  padding: 8px;
  border-radius: 3px;
  border: 0;
  outline: 0;
  background: rgb(var(--blue));
  color: white;
  cursor: pointer;
  transition: background 250ms;
}
.AuthPages__submitBtn:hover {
  background: rgb(87, 123, 250);
}
.AuthPages__submitBtn:active {
  background: rgb(68, 106, 246);
}
.AuthPages__submitBtn:disabled {
  background: rgb(200,200,200);
  cursor: default;
}
.AuthPages__rememberMe {
  margin: 0 0 30px;
  font-size: 15px;
  display: flex;
  align-items: center;
  color: rgb(100,100,100);
}
.AuthPages__rememberMe input {
  margin-right: 5px;
}
.AuthPages__link {
  font-size: 15px;
  margin-bottom: 15px;
}
.AuthPages__link a {
  text-decoration: none;
  color: rgb(var(--blue));
}
.AuthPages__msg--show, .AuthPages__msg--hide {
  width: 100%;
  max-width: 350px;
  max-height: 400px;
  font-size: 14.5px;
}
.AuthPages__msg--show {
  transition: max-height 350ms ease-in, opacity 300ms ease-out 200ms;
  margin: 0 auto 10px;
}
.AuthPages__msg--hide {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  margin: 0 auto;
  transition: opacity 250ms ease-out, max-height 300ms ease-out 250ms, margin 100ms ease-out 500ms;
}
.SignupSuccess__text {
  font-size: 20px;
  margin: 40px 0;
}
.SignupSuccess__mailIcon {
  color: rgb(150,150,150);
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin: 60px 0 -30px;
}
