.Auth__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.Auth__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  text-align: center;
}
.Auth__container--dark {
  background: var(--lighterGray);
}
.Auth__logo {
  font-size: 150px;
  width: 150px;
  height: 150px;
}
.Auth__form {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
}
.Auth__submitBtn {
  display: block;
  font-size: 16px;
  width: 100%;
  max-width: 350px;
  margin: 0 auto 20px;
}
.Auth__rememberMe {
  margin: 0 0 30px;
  font-size: 15px;
  display: flex;
  align-items: center;
  color: rgb(100,100,100);
}
.Auth__rememberMe input {
  margin-right: 5px;
}
.Auth__link {
  font-size: 15px;
  margin-bottom: 15px;
}
.Auth__link a {
  text-decoration: none;
  outline: none;
  color: rgb(var(--blue));
}
.Auth__link a:hover, .Auth__link a:focus {
  color: rgb(var(--blue3));
}
.Auth__msg--show, .Auth__msg--hide {
  width: 100%;
  max-width: 350px;
  max-height: 400px;
  font-size: 14.5px;
}
.Auth__msg--show {
  transition: max-height 350ms ease-in, opacity 300ms ease-out 200ms;
  margin: 0 auto 10px;
}
.Auth__msg--hide {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  margin: 0 auto;
  transition: opacity 250ms ease-out, max-height 300ms ease-out 250ms, margin 100ms ease-out 500ms;
}
.SignupSuccess__text {
  font-size: 20px;
  margin: 40px 0;
}
.SignupSuccess__mailIcon {
  color: var(--darkGray);
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin: 60px 0 -30px;
}
.Auth__input, .Auth__passInput {
  margin: 10px auto;
  width: 100%;
  max-width: 350px;
}
.Auth__input, .Auth__passInput input {
  -webkit-appearance: none;
  display: block;
  padding: 8px;
  font-size: 15px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 2px solid rgb(230, 230, 230);
  outline: none;
  transition: border 250ms;
}
.Auth__input:hover, .Auth__passInput input:hover {
  border: 2px solid rgb(220,220,220);
  background: rgb(252,252,252);
}
.Auth__input:focus, .Auth__passInput input:focus {
  border: 2px solid rgba(var(--blue), 0.5);
  background: white;
  box-shadow: 0 0 3px 0.5px rgba(var(--blue), 0.4);
}
.Auth__input::placeholder {
  color: var(--darkGray);
}
.Auth__passInput input {
  width: 100%;
  padding-right: 30px;
}
