.NoteContent {
  width: 100%;
  padding: 0 15px 12px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1;
  color: var(--textColor);
  --hlColor: rgba(var(--blue), 0.3);
}
.NoteContent--empty {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
}
.NoteContent__logo {
  font-size: 140px;
}
.NoteContent::-webkit-scrollbar-track, .NoteContent::-webkit-scrollbar {
  border-radius: 15px;
  background: var(--lighterGray2);
}
.NoteContent::-webkit-scrollbar {
  width: 10px;
}
.NoteContent::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgb(215,215,215);
}
.NoteContent code {
  background: var(--lighterGray);
  font-size: 16px;
}
.NoteContent blockquote {
  border-left: 2px solid rgb(219,219,219);
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: rgb(167,167,167);
  font-style: italic;
}
.NoteContent a {
  color: rgb(var(--blue));
}
.Toolbar {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(242,242,242);
  padding: 12px 0;
  margin-bottom: 16px;
  position: sticky;
  top: 0;
  background: var(--noteBack);
  z-index: 2;
}
.Toolbar__btn {
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 22px;
  cursor: pointer;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
  background: rgb(252,252,252);
  transition: background 250ms;
  position: relative;
}
.Toolbar__btn:hover {
  background: var(--lighterGray);
}
.Toolbar__btn--hl {
  background: rgba(var(--blue), 0.3);
  border: 1px solid rgba(var(--blue), 0.2);
}
.Toolbar__btn--hl:hover {
  background: rgba(var(--blue), 0.4);
}
.NoteContent__checkbox {
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.NoteContent__cursor, .NoteContent__caret {
  position: absolute;
  pointer-events: none;
  user-select: none;
  background: #ddd;
}
.NoteContent__cursor {
  top: -2px;
  transform: translateY(-100%);
  font-size: 10px;
  color: white;
  white-space: nowrap;
}
.NoteContent__caret {
  height: 1.4em;
  width: 2px;
}
.InsertLinkModal {
  background: var(--modalBack);
  width: 300px;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: var(--boxShadow1);
  z-index: 5;
  border: 1px solid rgb(228, 228, 228);
  font-size: 15px;
  padding: 20px 10px 10px;
  position: fixed;
}
.InsertLinkModal .CloseBtn {
  top: 5px;
  right: 5px;
  font-size: 25px;
  width: 25px;
  height: 25px;
}
.InsertLinkModal .Btn {
  font-size: 14.5px;
  padding: 6px 8px;
}
.InsertLinkModal label {
  font-size: 13px;
  font-weight: 500;
  color: rgb(120,120,120);
  margin-left: 2px;
}
.InsertLinkModal input {
  padding: 6px;
  margin: 2px 0 10px;
  width: 250px;
  display: block;
}
.InsertLinkModal label span {
  opacity: 0.8;
}

.dark .InsertLinkModal {
  border: var(--darkBorder);
}
.dark .NoteContent {
  --hlColor: rgba(var(--blue), 0.5);
}
.dark .Toolbar {
  border-bottom: 1px solid black;
}
.dark .Toolbar__btn {
  color: #ddd;
  background: rgba(var(--gray), 0.5);
  border: 1px solid rgba(var(--gray), 0.7);
}
.dark .Toolbar__btn:hover {
  background: rgba(var(--gray), 0.65);
}
.dark .Toolbar__btn--hl {
  background: rgba(var(--blue), 0.4);
  border: 1px solid rgba(var(--blue), 0.5);
}
.dark .Toolbar__btn--hl:hover {
  background: rgba(var(--blue), 0.5);
}
.dark .NoteContent code {
  background: rgba(var(--gray), 0.4);
}
.dark .NoteContent blockquote {
  border-left: 2px solid rgb(140,140,140);
  color: rgb(170,170,170);
}
.dark .NoteContent::-webkit-scrollbar-track,
.dark .NoteContent::-webkit-scrollbar {
  background: rgb(60,61,63);
}
.dark .NoteContent::-webkit-scrollbar-thumb {
  background: rgb(82,83,85);
}
