.NoteContent {
  width: 100%;
  padding: 0 15px 12px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1;
}
.NoteContent--empty {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
}
.NoteContent__logo {
  font-size: 140px;
}
.NoteContent::-webkit-scrollbar-track, .NoteContent::-webkit-scrollbar {
  border-radius: 15px;
  background: rgb(235,235,235);
}
.NoteContent::-webkit-scrollbar {
  width: 10px;
}
.NoteContent::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgb(215,215,215);
}
.NoteContent code {
  background: rgb(245,245,245);
  font-size: 16px;
}
.NoteContent blockquote {
  border-left: 2px solid rgb(219,219,219);
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: rgb(167,167,167);
  font-style: italic;
}
.Toolbar {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(242,242,242);
  padding: 12px 0;
  margin-bottom: 16px;
  position: sticky;
  top: 0;
  background: white;
}
.Toolbar__btn {
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 22px;
  cursor: pointer;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
  background: rgb(252,252,252);
  transition: background 250ms;
  position: relative;
}
.Toolbar__btn:hover {
  background: rgb(245,245,245);
}
.Toolbar__btn--active {
  background: rgba(var(--blue), 0.3);
  border: 1px solid rgba(var(--blue), 0.2);
}
.Toolbar__btn--active:hover {
  background: rgba(var(--blue), 0.4);
}
.NoteContent__checkbox {
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.NoteContent__cursor, .NoteContent__caret {
  position: absolute;
  pointer-events: none;
  user-select: none;
  background: #ddd;
}
.NoteContent__cursor {
  top: -2px;
  transform: translateY(-100%);
  font-size: 10px;
  color: white;
  white-space: nowrap;
}
.NoteContent__caret {
  height: 1.4em;
  width: 2px;
}
