body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans",
  "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: monospace;
}

:root {
  --blue: 104, 136, 252;
  --blue2: 87, 123, 250;
  --blue3: 68, 106, 246;
  --lightBlue: 168, 185, 249;
  --gray: 86, 86, 97;
  --lightGray: rgb(200,200,200);
  --lighterGray: rgb(245,245,245);
  --lighterGray2: rgb(238,238,238);
  --darkGray: rgb(150,150,150);
  --darkerGray: rgb(50,50,50);
  --boxShadow1: 0 2px 6px -2px rgba(0,0,0,0.15);
  --grayBorder: 1px solid #ddd;
  --secBorder: 1px solid #ddd;
  --darkBorder: 1px solid rgb(19, 19, 23);
  --textColor: black;
  --black: 19, 19, 23;
  --modalBack: white;
  --noteBack: white;
  --noteFontSize: 16px;
  --noteMargins: 10px;
}

/* utility classes */
.Btn {
  border-radius: 3px;
  border: 0;
  outline: 0;
  color: white;
  cursor: pointer;
  transition: background 250ms;
  font-size: 15px;
  padding: 8px;
}
.BlueBtn {
  background: rgb(var(--blue));
}
.BlueBtn:hover, .BlueBtn:focus {
  background: rgb(var(--blue2));
}
.BlueBtn:active {
  background: rgb(var(--blue3));
}
.RedBtn {
  background: red;
}
.RedBtn:hover, .RedBtn:focus {
  background: rgb(228, 0, 0);
}
.RedBtn:active {
  background: rgb(200, 0, 0);
}
.Btn:disabled {
  background: var(--lightGray);
  cursor: default;
}
.dark .Btn:disabled {
  background: rgb(var(--gray), 0.6);
}
.Input {
  -webkit-appearance: none;
  box-sizing: border-box;
  border-radius: 3px;
  border: 2px solid #ddd;
  outline: none;
  transition: border 250ms;
  color: var(--textColor);
}
.Input:hover {
  background: rgb(251,251,251);
}
.Input:focus {
  background: white;
  border: 2px solid rgb(var(--blue));
}
.Input::placeholder {
  color: rgb(150,150,150);
}
.dark .Input {
  background: rgba(var(--black), 0.6);
  border: 2px solid rgb(var(--black));
}
.dark .Input:hover {
  background: rgba(var(--black), 0.8);
}
.dark .Input:focus {
  background: rgb(var(--black));
  border: 2px solid rgba(var(--blue), 0.9);
}
.dark .Input::placeholder {
  color: rgb(130,130,130);
}
.dark {
  --textColor: rgb(230,230,230);
  --secBorder: var(--darkBorder);
  --modalBack: rgb(34,35,38);
  --noteBack: rgb(25,26,28);
}

/* print preview styles */
@media print {
  .NoteMenu, .NoteList, .SideNav, .Toolbar, .NoteTags, .Notifications {
    display: none !important;
  }
  .NoteContent, .NoteContainer, .NotelyContainer, body {
    overflow: visible !important;
    position: static !important;
    display: block !important;
  }
  .NoteContent {
    padding: 0 !important;
    font-size: 16px !important;
  }
}
