.NoteListNote {
  height: 65px;
  border-bottom: var(--grayBorder);
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  padding: 10px 8px 10px 30px;
}
.NoteListNote:hover {
  background: rgb(241,241,241);
}
.NoteListNote--active {
  background: rgba(var(--blue), 0.12);
}
.NoteListNote--active:hover {
  background: rgba(var(--blue), 0.15);
}
.NoteListNote__title, .NoteListNote__txt {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
.NoteListNote__title {
  font-weight: 500;
  font-size: 15.5px;
}
.NoteListNote__txt {
  font-size: 14px;
}
.NoteListNote__txt--hl {
  color: inherit;
  background: rgba(var(--blue), 0.4);
}
.NoteListNote__pin {
  font-size: 17px;
  position: absolute;
  top: 7px;
  left: 7px;
  opacity: 0;
}
.NoteListNote:hover .NoteListNote__pin {
  opacity: 1;
}
.NoteListNote__pin--hl {
  color: rgb(var(--blue));
  opacity: 1;
}

.dark .NoteListNote {
  color: rgb(230,230,230);
  border-bottom: var(--darkBorder);
}
.dark .NoteListNote {
  background: rgba(var(--gray), 0.1);
}
.dark .NoteListNote:hover {
  background: rgba(var(--gray), 0.2);
}
.dark .NoteListNote--active {
  background: rgba(var(--lightBlue), 0.12);
}
.dark .NoteListNote--active:hover {
  background: rgba(var(--lightBlue), 0.15);
}
.dark .NoteListNote__pin {
  color: rgb(230,230,230);
}
.dark .NoteListNote__pin--hl {
  color: rgba(var(--blue), 0.9);
}
.dark .NoteListNote__txt--hl {
  background: rgba(var(--blue), 0.5);
}
