.ModalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  animation: modalContainerFadeIn 325ms forwards;
  z-index: 10;
}
.ModalContainer__modal {
  position: absolute;
  width: 95%;
  height: 95%;
  max-width: 500px;
  max-height: 500px;
  background: white;
  top: max(2.5%, calc(50% - 250px));
  left: max(2.5%, calc(50% - 250px));
  border-radius: 4px;
  box-shadow: 0 3px 7px 3px rgba(0,0,0,0.15);
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
  text-align: center;
  animation: modalContainerSlideIn 250ms ease-out forwards;
}
@keyframes modalContainerFadeIn {
  from {
    background: transparent;
  }
  to {
    background: rgba(0,0,0,0.3);
  }
}
@keyframes modalContainerSlideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes modalContainerFadeOut {
  from {
    background: rgba(0,0,0,0.3);
  }
  to {
    background: transparent;
  }
}
@keyframes modalContainerSlideOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-110%);
    opacity: 0;
  }
}
.ModalContainer--unmountAnim {
  animation: modalContainerFadeOut 325ms forwards;
}
.ModalContainer--unmountAnim .ModalContainer__modal {
  animation: modalContainerSlideOut 225ms ease-in forwards;
}
.ModalContainer__modal::-webkit-scrollbar-track {
  border-radius: 15px;
  background: rgb(225, 225, 225);
}
.ModalContainer__modal::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 15px;
  background: rgb(225, 225, 225);
}
.ModalContainer__modal::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgb(197, 197, 197);
}
.ModalContainer__modalTitle {
  font-size: 18px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1.2px solid #ddd;
  color: var(--darkerGray);
}

.dark .ModalContainer__modal {
  background: rgb(34, 35, 38);
  border: 1px solid rgb(24, 25, 27);
  color: rgb(230,230,230);
}
.dark .ModalContainer__modalTitle {
  color: rgb(230,230,230);
  border-bottom: 1.2px solid rgb(19, 19, 23);
}
.dark .ModalContainer__modal::-webkit-scrollbar-track,
.dark .ModalContainer__modal::-webkit-scrollbar {
  background: rgba(20,20,20,0.7);
}
.dark .ModalContainer__modal::-webkit-scrollbar-thumb {
  background: rgba(var(--gray), 0.7);
}
