.SideNav {
  height: 100%;
  transition: width 200ms ease-out;
  background: rgb(27,28,32);
}
.SideNav--expand {
  width: 220px;
}
.SideNav--contract {
  width: 55px;
}
.SideNav--expand .SideNav__container {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100% - 95px);
}
.SideNav__container::-webkit-scrollbar-track,
.SideNav__container::-webkit-scrollbar {
  border-radius: 15px;
  background: rgb(59, 59, 59);
}
.SideNav__container::-webkit-scrollbar {
  width: 10px;
}
.SideNav__container::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgb(var(--gray));
}
.SideNav__title {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 23px;
  color: rgb(var(--blue));
  margin: 20px 0;
}
.SideNav__title div {
  margin-left: 5px;
}
.SideNav__title svg {
  font-size: 32px;
  margin-left: 20px;
}
.SideNav--contract .SideNav__title div,
.SideNav--contract .SideNav__innerLink div,
.SideNav--contract .SideNav__innerLink span {
  display: none;
}
.SideNav__link {
  position: relative;
}
.SideNav__innerLink {
  color: var(--lighterGray2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 17px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 10px 0;
}
.SideNav__innerLink:hover {
  background: rgba(var(--gray), 0.5);
}
.SideNav__innerLink div {
  margin-left: 6px;
}
.SideNav__innerLink svg {
  font-size: 20px;
  margin-left: 20px;
}
.SideNav--contract .SideNav__title,
.SideNav--contract .SideNav__innerLink {
  justify-content: center;
}
.SideNav--contract .SideNav__innerLink svg,
.SideNav--contract .SideNav__title svg {
  margin: 0;
}
.SideNav__toggleTagBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 auto;
}
.SideNav__toggleTagBtn svg {
  margin: 0;
  transform: rotate(180deg);
  font-size: 18px;
  transition: transform 250ms;
}
.SideNav__toggleTagBtn--rotate svg {
  transform: rotate(270deg);
}
.SideNav__tags {
  overflow: hidden;
  transition: max-height 300ms;
}
.SideNav__tags--show .SideNav__tag {
  animation: sideNavTagsAnimShow 1.5s forwards;
}
.SideNav__tags--hide .SideNav__tag {
  background: rgba(var(--gray), 0.3);
}
@keyframes sideNavTagsAnimShow {
  from {
    background: rgba(var(--gray), 0.3);
  }
  to {
    background: transparent;
  }
}
.SideNav__tag {
  color: var(--lighterGray2);
  padding: 10px 10px 10px 20px;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
.SideNav__tag:hover {
  background: rgba(var(--gray), 0.25) !important;
}
@media (max-width: 900px) {
  .SideNav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
  }
}
.SideNav__notif {
  display: inline-block;
  background: orange;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 8px;
  vertical-align: middle;
}

.dark .SideNav__innerLink:hover {
  background: rgba(var(--gray), 0.3);
}
.dark .SideNav__container::-webkit-scrollbar-track,
.dark .SideNav__container::-webkit-scrollbar {
  background: rgba(20,20,20,0.7);
}
.dark .SideNav__container::-webkit-scrollbar-thumb {
  background: rgba(var(--gray), 0.5);
}
