.SideNav {
  background: rgb(var(--black));
  height: 100%;
  transition: width 200ms ease-out;
}
.SideNav--expand {
  width: 220px;
}
.SideNav--contract {
  width: 55px;
}
.SideNav--expand .SideNav__container {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100% - 95px);
}
.SideNav__container::-webkit-scrollbar-track {
  border-radius: 15px;
  background: rgb(59, 59, 59);
}
.SideNav__container::-webkit-scrollbar {
  width: 10px;
  border-radius: 15px;
  background: rgb(59, 59, 59);
}
.SideNav__container::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgb(var(--gray));
}
.SideNav__title {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 23px;
  color: rgb(var(--blue));
  margin: 20px 0;
}
.SideNav__title div {
  margin-left: 5px;
}
.SideNav__title svg {
  font-size: 32px;
  margin-left: 20px;
}
.SideNav--contract .SideNav__title div, .SideNav--contract .SideNav__innerLink div {
  display: none;
}
.SideNav__link {
  position: relative;
}
.SideNav__innerLink {
  color: rgb(238, 238, 238);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 17px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 10px 0;
}
.SideNav__innerLink:hover {
  background: rgba(var(--gray), 0.5);
}
.SideNav__innerLink div {
  margin-left: 6px;
}
.SideNav__innerLink svg {
  font-size: 20px;
  margin-left: 20px;
}
.SideNav--contract .SideNav__title, .SideNav--contract .SideNav__innerLink {
  justify-content: center;
}
.SideNav--contract .SideNav__innerLink svg, .SideNav--contract .SideNav__title svg {
  margin: 0;
}
@media (max-width: 900px) {
  .SideNav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
  }
}
