.InvitesModalContainer {
  max-width: 600px;
  max-height: 630px;
  left: max(2.5%, calc(50% - 300px));
  top: max(2.5%, calc(50% - 315px));
}
.InvitesModal__title {
  text-align: left;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(230,230,230);
  width: 94%;
  margin: 15px auto 0;
  color: rgb(110,110,110);
}
.InvitesModal__invite {
  display: flex;
  align-items: center;
  width: 94%;
  margin: 10px auto;
}
.InvitesModal__inviter {
  font-size: 15px;
  word-wrap: break-word;
  max-width: calc(100% - 250px);
}
.InvitesModal__actions,
.InvitesModal__actions button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.InvitesModal__actions {
  margin-left: auto;
}
.InvitesModal__actions button {
  padding: 6px 8px;
  font-size: 13.5px;
  margin-left: 5px;
  white-space: nowrap;
}
.InvitesModal__rejBtn,
.InvitesModal__prevBtn {
  background: rgba(var(--blue), 0.8);
}
.InvitesModal__prevBtn svg {
  margin-left: 5px;
  font-size: 14px;
  min-width: 14px;
}
.InvitesModal__noInvites {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}
