.InvitesModalContainer {
  max-width: 600px;
  max-height: 630px;
  left: max(2.5%, calc(50% - 300px));
  top: max(2.5%, calc(50% - 315px));
}
.InvitesModal__title {
  text-align: left;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(230,230,230);
  width: 94%;
  margin: 15px auto 0;
  color: rgb(110,110,110);
  font-size: 15px;
}
.InvitesModal__invite {
  display: flex;
  align-items: center;
  width: 94%;
  flex-wrap: wrap;
  margin: 12px auto -12px;
}
.InvitesModal__inviter {
  font-size: 15px;
  word-wrap: break-word;
  max-width: 100%;
  margin-bottom: 12px;
}
.InvitesModal__actions,
.InvitesModal__actions button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.InvitesModal__actions {
  margin: 0 0 12px auto;
}
.InvitesModal__actions button {
  padding: 6px 8px;
  font-size: 13.5px;
  margin-left: 5px;
  white-space: nowrap;
}
.InvitesModal__rejBtn,
.InvitesModal__prevBtn {
  background: rgba(var(--blue), 0.8);
}
.InvitesModal__prevBtn svg {
  margin-left: 5px;
  font-size: 14px;
  min-width: 14px;
}
.InvitesModal__accBtn svg, .InvitesModal__rejBtn svg {
  display: none;
}
.InvitesModal__noInvites {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}
@media (max-width: 500px) {
  .InvitesModal__actions button span {
    display: none;
  }
  .InvitesModal__actions button {
    max-height: 28px;
    max-width: 28px;
  }
  .InvitesModal__actions button svg {
    display: block;
    margin: 0;
  }
  .InvitesModal__prevBtn svg {
    font-size: 15px;
    min-width: 15px;
  }
  .InvitesModal__accBtn svg {
    font-size: 18px;
    min-width: 18px;
  }
  .InvitesModal__rejBtn svg {
    font-size: 21px;
    min-width: 21px;
  }
}

.dark .InvitesModal__title {
  border-bottom: var(--darkBorder);
  color: rgb(190,190,190);
  font-weight: 300;
}
