.NoteContainer {
  height: 100%;
  background: var(--noteBack);
  display: flex;
  flex-direction: column;
  transition: background 250ms;
  flex-grow: 1;
  min-width: 0;
}
.NoteContainer--fs {
  position: fixed;
  width: 100vw;
}
@media (max-width: 900px) {
  .NoteContainer--fs {
    margin-left: 55px;
    width: calc(100vw - 55px);
  }
}
@media (max-width: 750px) {
  .NoteContainer {
    position: fixed;
    width: calc(100vw - 55px);
    margin-left: 55px;
  }
  .NoteContainer--hide {
    display: none;
  }
}
