.NoteContainer {
  height: 100%;
  background: var(--noteBack);
  display: flex;
  flex-direction: column;
}
.NoteContainer--contract {
  flex-grow: 1;
}
.NoteContainer--expanded {
  position: fixed;
  width: 100vw;
  z-index: 2;
}
@media (max-width: 900px) {
  .NoteContainer {
    max-width: calc(100% - 376px) !important;
  }
}
@media (max-width: 750px) {
  .NoteContainer {
    position: fixed;
    width: calc(100vw - 55px);
    margin-left: 55px;
    max-width: calc(100vw - 55px) !important;
  }
  .NoteContainer--show {
    z-index: 3;
  }
  .NoteContainer--hide {
    z-index: 2;
  }
}
