.CloseBtn, .BackBtn {
  position: absolute;
  cursor: pointer;
  border-radius: 4px;
  color: rgb(50,50,50);
  transition: all 250ms;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  font-size: 28px;
  width: 28px;
  height: 28px;
}
.CloseBtn {
  right: 10px;
}
.BackBtn {
  left: 10px;
  font-size: 19px;
  animation: backBtnSlideIn 250ms forwards;
}
@keyframes backBtnSlideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.CloseBtn:hover, .BackBtn:hover {
  background: rgb(240,240,240);
  color: black;
}
