.Tooltip {
  position: absolute;
  font-size: 11.5px;
  border-radius: 6px;
  padding: 4px 8px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0.9);
  white-space: nowrap;
  user-select: none;
  cursor: default;
  pointer-events: none;
  transition: opacity 250ms, transform 250ms;
  z-index: 4;
  --back: #555;
  background: var(--back);
}
.SideNav__link:hover .Tooltip,
.SideNav__link:focus .Tooltip,
.ToggleSideNavBtn:hover .Tooltip,
.ToggleSideNavBtn:focus .Tooltip,
.Toolbar__btn:hover .Tooltip,
.NoteListHeader__addBtn:hover .Tooltip,
.NoteListHeader__addBtn:focus .Tooltip,
.NoteListHeader__sortBtn:hover .Tooltip,
.NoteListHeader__sortBtn:focus .Tooltip,
.NoteMenu__btn:hover .Tooltip,
.NoteMenu__btn:focus .Tooltip,
.NoteMenu__optionBtn:hover .Tooltip,
.Avatar:hover .Tooltip,
.SearchBar:hover .Tooltip,
.SearchBar:focus .Tooltip {
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms 450ms, transform 250ms 450ms;
}
.SideNav .Tooltip {
  top: 9px;
}
.NoteList__addBtn .Tooltip,
.NoteList__sortBtn .Tooltip,
.NoteMenu__fsBtn .Tooltip,
.NoteMenu__backBtn .Tooltip,
.Avatar .Tooltip {
  top: 38px;
}
.ToggleSideNavBtn .Tooltip {
  top: -7px;
}
.Tooltip:hover {
  opacity: 0 !important;
  transform: scale(0.9) !important;
}
.Tooltip div {
  font-size: 11;
  color: rgb(235,235,235);
}
.Tooltip--right {
  left: calc(100% + 8px);
}
.Tooltip--down {
  top: 40px;
}
.Tooltip--right::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid var(--back);
  left: -5px;
  top: calc(50% - 5px);
}
.Tooltip--down::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 5px solid transparent;
  border-bottom: 5px solid var(--back);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  top: -10px;
  left: calc(50% - 5px);
}

.dark .Tooltip {
  --back: rgb(10,11,15);
  color: var(--textColor);
}
.dark .Tooltip div {
  color: rgb(180,180,180);
}
