.NotePreview {
  position: relative;
  background: var(--lighterGray);
  width: 94%;
  height: 300px;
  border-radius: 4px;
  margin: 10px auto;
  padding: 35px 10px 10px;
  box-sizing: border-box;
  border: 1px solid var(--lighterGray2);
}
.NotePreview__closeBtn {
  top: 5px;
  right: 5px;
  font-size: 25px;
  width: 25px;
  height: 25px;
}
.NotePreview__closeBtn:hover {
  background: var(--lighterGray2);
}
.NotePreview__slate {
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: white;
  text-align: left;
  padding: 5px;
  color: var(--textColor);
}
.NotePreview__errMsg {
  margin-top: 10px;
  font-weight: 500;
  text-align: center;
}
.NotePreview__spinner {
  font-size: 8px !important;
  margin-top: 50px !important;
}

.dark .NotePreview {
  background: rgb(var(--gray), 0.3);
  border: var(--darkBorder);
}
.dark .NotePreview__slate {
  background: rgba(0,0,0,0.5);
}
