.ShareModalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  animation: settingsModalFadeIn 325ms forwards;
  z-index: 10;
}
.ShareModal {
  position: absolute;
  width: 95%;
  height: 95%;
  max-width: 500px;
  max-height: 500px;
  background: white;
  top: max(2.5%, calc(50% - 250px));
  left: max(2.5%, calc(50% - 250px));
  border-radius: 4px;
  box-shadow: 0 3px 7px 3px rgba(0,0,0,0.15);
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
  text-align: center;
  animation: settingsModalSlideIn 250ms ease-out forwards;
}
@keyframes settingsModalFadeIn {
  from {
    background: transparent;
  }
  to {
    background: rgba(0,0,0,0.3);
  }
}
@keyframes settingsModalSlideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.ShareModal::-webkit-scrollbar-track {
  border-radius: 15px;
  background: rgb(225, 225, 225);
}
.ShareModal::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 15px;
  background: rgb(225, 225, 225);
}
.ShareModal::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgb(197, 197, 197);
}
.ShareModal__title {
  font-size: 18px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1.2px solid #ddd;
  color: rgb(50,50,50);
}
