.ShareModal__subTitle {
  color: rgb(100,100,100);
  padding: 5px 10px 10px;
  font-size: 14px;
  max-width: 430px;
  margin: 0 auto 10px;
}
.ShareModal__form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.ShareModal__form button {
  border-radius: 3px;
  border: 0;
  outline: 0;
  background: rgb(var(--blue));
  color: white;
  cursor: pointer;
  transition: background 250ms;
  font-size: 15px;
  padding: 8px;
}
.ShareModal__form button:hover {
  background: rgb(var(--blue2));
}
.ShareModal__form button:active {
  background: rgb(var(--blue3));
}
.ShareModal__form button:disabled {
  background: rgb(200,200,200);
}
.ShareModal__form input {
  box-sizing: border-box;
  border-radius: 3px;
  border: 2px solid #ddd;
  padding: 7px;
  outline: none;
  transition: border 250ms;
  margin-right: 5px;
  width: 250px;
}
.ShareModal__form input:hover {
  background: rgb(252,252,252);
}
.ShareModal__form input:focus {
  background: white;
  border: 2px solid rgb(var(--blue));
}
.ShareModal__form input::placeholder {
  color: rgb(150,150,150);
}
@media (max-width: 420px) {
  .ShareModal__form {
    flex-direction: column;
  }
  .ShareModal__form input {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 0 auto 7px;
  }
}
.ShareModal__collabs {
  width: 95%;
  margin: 15px auto 0;
  max-width: 400px;
  text-align: left;
}
.ShareModal__collabsTitle {
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(230,230,230);
  color: rgb(50,50,50);
  margin-bottom: 10px;
}
.ShareModal__collab {
  margin-bottom: 5px;
  text-align: left;
}
.ShareModal__user {
  font-size: 15px;
  color: rgb(50,50,50);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.ShareModal__email {
  font-size: 14px;
  color: rgb(100,100,100);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.ShareModal__msg {
  font-size: 14px;
  text-align: center;
  padding: 5px 10px;
  box-sizing: border-box;
  transition: opacity 250ms;
  color: rgb(50,50,50);
  max-height: 400px;
}
.ShareModal__msg--success {
  color: green;
}
.ShareModal__msg--show {
  transition: max-height 350ms ease-in, opacity 300ms ease-out 200ms;
}
.ShareModal__msg--hide {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 250ms ease-out, max-height 300ms ease-out 250ms;
}
