.NoteMenu {
  width: 100%;
  min-height: 90px;
  padding: 15px 15px 10px;
  border-bottom: var(--grayBorder);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.NoteMenu__btns {
  display: flex;
  align-items: center;
}
.NoteMenu__options {
  display: flex;
  align-items: center;
  margin: 0 5px 0 auto;
}
.NoteMenu__btn {
  border: 0;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 250ms;
  position: relative;
  font-size: 16px;
  padding: 7px;
  color: black;
  background: rgba(0,0,0,0.05);
  border-radius: 3px;
}
.NoteMenu__iconBtn {
  background: transparent;
  margin: 0 3px;
  font-size: 19px;
}
.NoteMenu__trashBtn {
  margin-left: 10px;
  font-size: 14px;
}
.NoteMenu__btn:hover, .NoteMenu__btn:focus {
  background: rgba(0,0,0,0.08);
}
.NoteMenu__iconBtn:hover, .NoteMenu__iconBtn:focus {
  background: rgba(0,0,0,0.05);
}
.NoteMenu__btn:active {
  background: rgba(var(--blue), 0.2);
}
.NoteMenu__backBtn {
  display: none;
}
.NoteMenu__btn--hl {
  color: rgb(var(--blue));
}
@media (max-width: 750px) {
  .NoteMenu__fsBtn {
    display: none;
  }
  .NoteMenu__backBtn {
    display: flex;
  }
}
.NoteMenu__info {
  padding-right: 15px;
  box-sizing: border-box;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  color: var(--darkGray);
}
.NoteMenu__status {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  margin-left: 10px;
}
.NoteMenu__status svg {
  font-size: 16px;
  margin-right: 5px;
}
.NoteMenu__status--anim svg {
  animation: NoteMenuStatusAnim 1.4s linear infinite;
}
@keyframes NoteMenuStatusAnim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.NoteMenu__collabs {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -3px;
}
.NoteMenu__optBtn {
  position: relative;
}
.NoteMenu__optModal {
  position: absolute;
  top: 52px;
  right: 22px;
  width: 140px;
  box-sizing: border-box;
  box-shadow: var(--boxShadow1);
  background: var(--modalBack);
  z-index: 3;
  border-radius: 4px;
  padding: 5px 0;
  border: 1px solid #eee;
  color: var(--textColor);
  font-size: 14.5px;
  text-align: left;
}
.NoteMenu__optModal div {
  padding: 8px;
  cursor: pointer;
  outline: none;
}
.NoteMenu__optModal div:hover,
.NoteMenu__optModal div:focus {
  background: rgb(248,248,248);
}

.dark .NoteMenu {
  border-bottom: 1px solid black;
}
.dark .NoteMenu__fsBtn,
.dark .NoteMenu__trashBtn,
.dark .NoteMenu__backBtn {
  color: #ddd;
  background: rgba(var(--gray), 0.5);
}
.dark .NoteMenu__btn:hover, .dark .NoteMenu__btn:focus {
  background: rgba(var(--gray), 0.65);
}
.dark .NoteMenu__btn:active {
  background: rgba(var(--lightBlue), 0.4);
}
.dark .NoteMenu__iconBtn {
  color: rgb(220,220,220);
}
.dark .NoteMenu__iconBtn:hover,
.dark .NoteMenu__iconBtn:focus {
  background: rgba(var(--gray), 0.5);
}
.dark .NoteMenu__info {
  color: rgb(180, 180, 180);
}
.dark .NoteMenu__optModal {
  border: 1px solid rgb(24, 25, 27);
  box-shadow: 0 2px 6px -2px rgb(20,20,20);
}
.dark .NoteMenu__optModal div:hover,
.dark .NoteMenu__optModal div:focus {
  background: rgba(var(--gray), 0.15);
}
